<!-- information sur la session -->
<aside class="aside">
    <p>Aside dashboard Layout</p>
    <p>visite : <%= session.visit %></p>
    <p>page = <%= session.page %></p>
    <p>email = <%= session.email %></p>

</aside>