<header>
    <div class="logo-header">
        <img src="/images/bateau.png" alt="bateau" />
    </div>
    <div class="titre-header">
        <h1>Port de plaisance Russell</h1>
    </div>
    
</header>