      <nav class="nav">
        <p><a href="/">Accueil</a></p>
        <p><a href="/dashboard">Tableau de bord</a></p>
        <p><a href="/users">Utilisateur</a></p>
        <p><a href="/catways">Catways</a></p>
        <p><a href="/reservation">Réservation</a></p>
        <p><a href="/logout">Déconnexion</a></p>
      </nav>