<nav class="nav">
    <p><a href="/">Accueil</a></p>
    <p><a href="/dashboard">Tableau de bord</a></p>
    <p><a href="/users?page=findAllUsers">Utilisateur</a></p>
    <p><a href="/catways?page=findAllCatway">Catways</a></p>
    <p><a href="/catways/reservations">Réservation</a></p>
    <p><a href="/logout">Déconnexion</a></p>
</nav>