
<form id="Form_find_one_catway">
    <fieldset>
        <legend>Recherché un catway</legend>
        <p>
            <label for="all">Tous</label>
            <input type="radio" name="catwayType" id="all" value="all" checked/>
            <label for="short">Short</label>
            <input type="radio" name="catwayType" id="short" value="short" />
            <label for="long">Long</label>
            <input type="radio" name="catwayType" id="long" value="long" />
        </p>
        <p id="p-catway-find">
            <label for="idFind-catway-select">Numéro de catway</label>
            <select name="idFind" id="idFind-catway-select">
            </select required>
        </p>

        <p>
            <button type="submit">Rechercher le catway</button>
        </p>
        
    </fieldset>
</form>
<div id="resultat" class="resultat">
            <% if (typeof catway !== 'undefined') {  %>
                <p> Numéro du catway : <%= catway.catwayNumber %></p>
                <p> Type de catway : <%= catway.catwayType %></p>
                <p> Etat du catway : <%= catway.catwayState %></p>
                <p><a href="/catways/<%= catway.catwayNumber %>/reservations/?page=createReserv" class="modifier">Le réservé</a></p>
            <%  } %>
</div>
<script src="/javascripts/cat_find_form.js"></script>
