<h2>Form create catway</h2>
<form method="post" action="catways" id="Form_create_catway">
    <fieldset>
        <legend>Création d'un catway</legend>
        <div class="form">
            <p>
                <label for="short">Short</label>
                <input type="radio" name="catwayType" id="short" value="short" />
                <label for="long">Long</label>
                <input type="radio" name="catwayType" id="long" value="long" />
            </p>

            <p>
                <label for="description">Description</label>
                <textarea name="catwayState" id="catwayState" placeholder="Description de son état" required></textarea>
            </p>
            <p>
                <button type="submit">Ajouter</button>
            </p>
        </div>
    </fieldset>
</form>


