body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer{
  padding: 15px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(148,212,245,60%); 
  color:black;
}

header {
  background-color: rgba(148,212,245,60%); 
  color:black;
  border-bottom: black 2px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-header {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}

.logo-header img{
  width: 150px;
  height: 150px;
}

.titre-header {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 80%;
}

footer {
  border-top: black 2px solid;
}

h2 {
  background-color: burlywood;
  border-radius: 20px;
  padding: 10px;
}

.conteneur {
  display: flex;
  flex-direction: row;
}

.dashcenter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  background-color: rgba(141,180,252,60%);
  border-right: darkgray 2px dashed;
}

.nav a {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover{
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}

.navuser{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(141,180,252,90%);
  border-bottom: darkgray 2px dashed;
  padding: 20px;
}

.navuser a{
  color: white;
  background-color: dimgray;
  padding: 10px;
  border-radius: 20px 20px;
  border-color: black;
  font-weight: bold;
}

.section {
  display:flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 50%;
}

.accueil {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.aside {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  background-color: rgba(141,180,252,60%);
  border-left: darkgray 2px dashed;
}

.errmess {
  color:red;
  font-weight: bold;
}

label {
  font-weight: 700;
}

#form_login{
  display: none;
}

.description {
  line-height: 20px;
  padding: 20px;
  width: 50%;
  font-weight: 600;
  text-indent: 40px;
  box-shadow: black 2px 2px 5px;
}

td {
  border-bottom: 1px navy solid;
  padding: 10px;
}

.user-connected {
  text-align: center;
  background-color: rgba(141,180,252,90%);
  color:rgb(255, 255, 255);
}

.form-contnair {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.form-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.form-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.form-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.afficher {
  background-color: darkgreen;
  color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: black 2px 2px 5px ;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.afficher:hover {
  background-color: green;
  color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: black 2px 2px 5px ;
  padding: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.modifier {
  background-color: darkorange;
  color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: black 2px 2px 5px ;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.modifier:hover {
  background-color: orange;
  color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: black 2px 2px 5px ;
  padding: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}