<form method="post" id="Form-create-reservation">
    <fieldset>
        <legend>Création d'une réservation</legend>
        <div class="form-contnair">
            <div class="form-row">
                <div class="form-date" id="p-startDate"> </div>
                <div class="form-date" id="p-endDate"> </div>
            </div>
            <div class="form-radio">
                <label for="all">Tous</label>
                <input type="radio" name="catwayType" id="all" value="all" checked/>
                <label for="short">Short</label>
                <input type="radio" name="catwayType" id="short" value="short" />
                <label for="long">Long</label>
                <input type="radio" name="catwayType" id="long" value="long" />
            </div>
            <div class="form-row" id="p-catway-find">
                <label for="idFind-catway-select">Numéro de catway</label>
                <select name="catwayNumber" id="idFind-catway-select" required>
                    <option value="">Choisir une période...</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-column"><label for="clientName">Nom:</label></div>
                <div class="form-column"><input type="text" name="clientName" id="clientName" placeholder="Le nom du client !" required /></div>
            </div>
            <div class="form-row">
                <div class="form-colums"><label for="boatName">Nom du bateau:</label></div>
                <div class="form-colums"><input type="text" name="boatName" id="boatName" placeholder="Le nom du bateau !" required /></div>
            </div>
            <div class="form-row">
                <button type="submit">Réserver</button>
            </div>
        </div>
    </fieldset>
</form>
<script src="/javascripts/reserv_create_form.js"></script>