<form method="post" id="Form-create-reservation">
    <fieldset>
        <legend>Création d'une réservation</legend>
        <div class="form">
            <p id="p-startDate"></p>
            <p id="p-endDate"></p>
            <p>
                <label for="all">Tous</label>
                <input type="radio" name="catwayType" id="all" value="all" checked/>
                <label for="short">Short</label>
                <input type="radio" name="catwayType" id="short" value="short" />
                <label for="long">Long</label>
                <input type="radio" name="catwayType" id="long" value="long" />
            </p>
            <p id="p-catway-find">
                <label for="idFind-catway-select">Numéro de catway disponible</label>
                <select name="catwayNumber" id="idFind-catway-select" required>
                    <option value="">Sélectionnez une période...</option>
                </select>
            </p>
            <p>
                <label for="clientName">Nom: Michel !</label>
                <input type="text" name="clientName" id="clientName" placeholder="Le nom !" value="Michel" required />
            </p>
            <p>
                <label for="boatName">Nom du bateau: L'alizée</label>
                <input type="text" name="boatName" id="boatName" placeholder="Le nom du bateau !" value="L'alizée" required />
            </p>

            <p>
                <button type="submit">Réserver</button>
            </p>
        </div>
    </fieldset>
</form>
<script src="/javascripts/reserv_create_form.js"></script>