<h2>Form_find_reservation</h2>

<% idFind = typeof idFind !=='undefined' ? idFind : '0000000000' %>

<form id="Form_find_one_reservation">
    <fieldset>
        <legend>Recherché une réservation</legend>
        
        <p>
            <label for="idFind-reserv-select">Numéro de réservation</label>
            <select name="idFind" id="idFind-reserv-select">
            </select required>
        </p>

        <p>
            <button type="submit">Rechercher la réservation</button>
        </p>
        
    </fieldset>
</form>

<div id="result" class="resultat">
    <%= idFind %>
</div>

<script src="/javascripts/reserv_find_form.js"></script>
