<% emailFind = typeof emailFind !=='undefined' ? emailFind : 'louper@louper.net' %>
<form id="Form_find_one_users">
    <fieldset>
        <legend>Recherché un Utilisateur</legend>
        
        <p>
            <label for="emailFind">Email: test@test.com</label>
            <input type="email" name="emailFind" id="emailFind" placeholder="L'email !" required />
        </p>

        <p>
            <button type="submit">Rechercher l'utilisateur</button>
        </p>
        
    </fieldset>
</form>

<div id="resultat" class="resultat">
    <%= emailFind %>
</div>
<script src="/javascripts/user_find_form.js">

</script>
