<div class="errmess">
    <% if (typeof session.errorMessage !== 'undefined') { %>
        <p><%= session.errorMessage %></p>
    <% } else {} %>
</div>

<form id="Form_find_one_users">
    <fieldset>
        <legend>Recherché un Utilisateur</legend>
        
        <p>
            <label for="emailFind">Email:</label>
            <input type="email" name="emailFind" id="emailFind" placeholder="L'email !" required />
        </p>

        <p>
            <button type="submit">Rechercher l'utilisateur</button>
        </p>
        
    </fieldset>
</form>

<div id="resultat" class="resultat">
    <% if (typeof user !== 'undefined') { %>
        <h3>Utilisateur trouvé</h3>
        <p>Nom: <%= user.name %></p>
        <p>Email: <%= user.email %></p>        
        <p><a href="/users/<%= user.email %>?page=modifyUsers" class="modifier">Modifier</a></p>
        <% } else { }%>
</div>
<script src="/javascripts/user_find_form.js">

</script>
